{% extends "base.html" %}
{% block title %}Workout Tracker 5000{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block header %}Workout Tracker 5000{% endblock %}
{% block content %}
            <a class="d-inline-block btn btn-primary btn-lg" href="workout_new" role="button">Start empty workout</a>
            <p>starts an empty workout</p>
            <a class="d-inline-block btn btn-secondary btn-lg" href="workouts" role="button">View previous workouts</a>
            <p>view previously completed workouts</p>
            <a class="d-inline-block btn btn-secondary btn-lg" href="#" role="button">View progressions</a>
            <p>view progressions for exercises performed</p>
{% endblock %}
