{% extends "base.html" %}
{% block title %}New Workout{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='workout_new.js') }}"></script>
{% endblock %}
{% block header %}00:00:00{% endblock %}
{% block content %}
            <form method="POST" action="/save_workout" id="workout">
                <input type="hidden" name="duration" id="duration" value="0">
                <ul class="list-group text-start" id="exercises">
                </ul>
            </form>
            <p id="begin">to begin, add an exercise</p>
            <a class="d-none btn btn-success btn-lg" href="#" role="button" id="complete">complete workout</a>
            <a class="d-inline-block btn btn-primary btn-lg" href="#" role="button" id="add">add exercise</a>
            <p></p>
            <a class="d-inline-block btn btn-warning btn-lg" href="/" role="button">go back</a>
{% endblock %}
